# Node.js / NPM / Yarn
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Nuxt build directory
.nuxt/

# Nuxt generated static files
dist/

# Environment variables
.env
.env.* # if you have different env files for different environments

# Log files
logs/

# IDE/editor files
.idea/
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Dependency directory (optional if you use yarn or pnpm)
.pnp/
.pnp.js

# Optional JetBrains IDE files
/.idea/

# .nuxt files
.nuxt/*

# Temporary files (optional)
*.swp
*.swo
*.bak

# Build
.output/