@import "tailwindcss";
@plugin "tailwindcss-motion";
@import "@nuxt/ui";

@theme {
  --font-global: "Public Sans", "sans-serif";
}

.dark {
  --color-bg: #15181c;
  --color-form-bg: #1018283f;
  --color-primary: #e6b10b;
  --color-secondary: #f9f9f9;
  --color-letters: #000000;
  --letter-correct: #02c076;
  --letter-exclude: #474d57;
  --letter-include: #f0b90b;
}

.light {
  --color-bg: #f0f0f0;
  --color-form-bg: #e0e0e0;
  --color-primary: #000000;
  --color-secondary: #363333;
  --color-letters: #ffffff;
  --letter-correct: #02c076;
  --letter-exclude: #474d57;
  --letter-include: #f0b90b;
}

@layer components {
  .custom-button {
    @apply px-4 py-2 rounded-lg border border-[var(--color-primary)] bg-[var(--color-bg)] hover:bg-[var(--color-secondary)] text-[var(--color-primary)] transition-all duration-300 shadow-lg;
  }
}

/* Hide default scrollbar */
.page-id-xx,
html {
  scrollbar-width: none; /* FF */
}
::-webkit-scrollbar {
  width: 0px; /* Chrome & Edge */
}
